@import '../../styles/colors.scss';

.card {
  width: 90vw;
  height: 24em;
  background: linear-gradient(80deg, $blue-1, $blue-2 );
  background: radial-gradient();
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 3px 3px 5px $blue-2;

  @media screen and (min-width: 768px) {
    width: 20vw;
    justify-self: center;
  }

  .image {

    img {
      height: 12em;
      object-fit: cover;

    }
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
  }

  .description {
    padding: 1rem;
    font-size: .8rem;
  }

}