@import '../styles/colors.scss';

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1em;
  margin: 2rem 0;
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px $verde-2;
  width: 90vw;

  @media screen and (min-width: 768px) {
    width: 70vw;
  }
}