@import '../../styles/colors.scss';

.image {
  height: 50vh;
  width: 100%;
}

.paragraphs,
.paragraphs2 {
  color: black;
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;

  @media screen and (min-width:768px) {
    width: 70vw;
  }

  h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
  }

  p {
    padding: 1rem;
  }

  ul {
    padding: 0 1rem;

    li {
      list-style: inside;
    }
  }
}

.paragraphs2 {
  position: relative;
  background-color: $blue-1;
  border-radius: 1rem;
  color: white;

  img {
    position: absolute;
    right: -8px;
    top: -20px;
    width: 50px;
    height: 50px;
  }
}